<div class="top-wrapper flex">
    <%= image_tag '9784063409543.jpg', class: 'book-image' %>
<!--    <img src="9784063409543.jpg" class="book-image">-->
    <div class="contents">
        <p class="title">逃げるは恥だが役に立つ</p>
        <div class="content-details">
            <list>
                <li>著者：ああああああ</li>
                <li>発行年月日：2016年7月7日</li>
                <li>出版社：新潮社</li>
            </list>
            <span class="btn have-btn">
                持っている！
            </span>
            <span class="btn read-btn">
                読んだ！
            </span>
        </div>
    </div>
</div>

<div class="bottom-wrapper">
    <p>こんな本もどうですか？</p>
    <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
    <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
    <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
    <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
</div>