<div class="container">
    <div class="details-top-wrapper flex">
        <%= image_tag @imageUrl, class: 'book-image' %>
    <!--    <img src="9784063409543.jpg" class="book-image">-->
        <div class="contents">
            <p class="title"><%= @title%></p>
            <div class="content-details">
                <list>
                    <li>著者：<%= @author%></li>
                    <li>発行年月日：<%= @salesDate%></li>
                    <li>出版社：<%= @publisherName%></li>
                </list>
                <%= link_to '持っている！', books_db_have_path(@isbn), class: @word1 %>
                <%= link_to '読んだ！', books_db_read_path(@isbn), class: @word2 %>
            </div>
        </div>
    </div>

    <div class="details-bottom-wrapper">
        <p class="push">こんな本もどうですか？</p>
        <div class="other-image">
            <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
            <p>逃げるは恥だが役に立つ</p>
        </div>
        <div class="other-image">
            <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
            <p>逃げるは恥だが役に立つ</p>
        </div>
        <div class="other-image">
            <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
            <p>逃げるは恥だが役に立つ</p>
        </div>
        <div class="other-image">
            <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
            <p>逃げるは恥だが役に立つ</p>
        </div>
    </div>
</div>