<div class="container">
    <div class="wrapper_search_result">
        <p><%= @data[0][:title]%></p>
        <div class="top-list-wrapper">
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
            <div class="other-image">
                <%= image_tag '9784063409543.jpg', class: 'book-image2' %>
                <%= link_to '逃げるは恥だが役に立つ', books_detail_path, class:'book-title' %>
            </div>
        </div>
        <div class="wrapper-search-btn">
            <%= link_to '検索', books_top_path , class:'btn search-btn' %>
        </div>
    </div>
</div>