<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
       <p><%= @user.errors.count %>件のエラーがあります。</p>

      <ul>
      <%= @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="user_edit">
    <h1 class="title">プロフィールを編集する</h1>
      <p>名前</p>
      <%= f.text_field :name, class: "form-control name-field" %>

      <p>メールアドレス</p>
      <%= f.text_field :email, class: "form-control email-field" %>
      
      <p>プロフィール画像</p>
      <%= f.file_field :image, class: "form-control image-field" %>
      <br>
      <%= f.submit '保存', class: "btn primary-btn" %>
    <% end %>
</div>