    <div class="container">
      <div class="user_show_contents">
        <div class="container">
            <div class="user_profile">
                <p class="profile">
                    プロフィール
                </p>
                <p>名前： <%= @user.name %></p>
                <div class="user_photo">
                    <%= image_for(@user) %> <!--user photo-->
                </div>
                <div class="btn-wrapper">
                    <div class="profile_update">
                        <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="book_shelf">
            <div class="books_status">
                <p class="books_status_info">持っている本</p>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                </div>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                </div>

            </div>
            <div class="books_status">
                <p class="books_status_info">読んだ本</p>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                </div>
            </div>
            <div class="books_status">
                <p class="books_status_info">欲しい本</p>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                </div>
            </div>
        </div>  
      </div>
    </div>