    <div class="container">
      <div class="user_show_contents">
        <div class="container">
            <div class="user_profile">
                <p class="profile">
                    プロフィール
                </p>
                <div class="user_photo">
                    <%= image_tag'NO_DATA.png', class: 'user_photo' %> <!--user photo-->
                </div>
                <div class="btn-wrapper">
                    <div class="btn profile_update">
                        <a href="#">プロフィールを更新する</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="book_shelf">
            <div class="collect_books">
                <p class="collect_books_info">持っている本</p>
                <hr>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                </div>
            </div>
            <div class="read_books">
                <hr>
                <p class="read_books_info">持っている本</p>
                <hr>
                <div class="books_line">
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/0027/9784088810027.jpg?_ex=200x200">
                        <p class="book_title">NO_TITLE</p>
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <div class="books">
                        <%= image_tag'9784063409543.jpg', class: 'user_photo' %>
                        <p class="book_title">NO_TITLE</p> 
                    </div>
                    <hr>
                </div>
            </div>
        </div>  
      </div>
    </div>