<!DOCTYPE html>
<html>
  <head>
    <title>CollectionManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  </head>

  <body class="header">
      <header>
          <div class="container">
              <div class="header_left">
                    <div class="header_logo">
                        <h1>蔵書管理フレンズ</h1>
                    </div>
              </div>
              <div class="header_right">
                  <!--<div class="item"><p>--><%= link_to '検索', books_top_path , class:'item' %><!--</p></div>
                  <div class="item"><p>--><%= link_to 'マイページ', user_show_path, class:'item' %><!--s</p></div>-->
              </div>
          </div>
      </header>
      
        <%= yield %>
      
  </body>
</html>